.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.clicker {
  width: 200px;
  height: 200px;
  font-size: 24px;
}

.user-counter {
  padding: 5px;
  background: black;
  color: white;
  margin-bottom: 50px;
}

.notes {
  width: 600px;
  display: flex;
  margin: 0 auto;
  margin-top: 40px;
}

.note-item {
  border: 1px solid black;
  flex-grow: 1;
  display: flex;
}

.chat-window {
  height: 600px;
  width: 100%;
}

.message {
  width: 100%;
  overflow-wrap: break-word;
  overflow: hidden;
}

.message-signature {
  margin-bottom: 0em;
}

.message-like{
  align-content: right;
  z-index: inherit;
}

.liked{
  background-color: #008CBA;
}

.unliked{
  background-color: none;
}


.login {
  background-color: rgba(40, 38, 46, 0.904);
  color: white;
  width: 310px;
  height: 450px;
  border: 1px solid rgb(53, 45, 88);
  border-width: 2px;
  padding: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 140px;
  font-size: 20px;
  border-radius: 30px;
}

.inputBox{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.text{
  margin-top: 10px;
  color: black;
}